<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(87deg, #13547a 0, #80d0c7 100%) !important;">
  
</div>
<div class="container-fluid mt--7">
  <div class="">
    
    <div class="">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Tạo mới node</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Thông tin node</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="location">Khu vực <p style="display:inline-flex !important; color: red ">*</p></label>
                    <select *ngIf="!isLocationInvalid" name="location" id="location" class="form-control form-control-alternative" [(ngModel)]="newNode.location" (ngModelChange)="checkLocation($event)">
                      <option value="" disabled selected hidden>Chọn khu vực</option>
                      <option *ngFor="let location of locationList" [ngValue]="location._id">{{ location.detail_location }}, {{ location.district.name }}, {{ location.province.name }}</option>
                    </select>     
                    <div *ngIf="isLocationInvalid" class="form-group has-danger">
                      <select  name="location" id="location" id="location" class="form-control is-invalid" [(ngModel)]="newNode.location" (ngModelChange)="checkLocation($event)">
                        <option value="" disabled selected hidden class="is-invalid">Khu vực không được để trống</option>
                        <option *ngFor="let location of locationList" [ngValue]="location._id">{{ location.detail_location }}, {{ location.district.name }}, {{ location.province.name }}</option>
                      </select> 
                    </div>        
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ip">IP <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div [ngClass]="{'has-danger': isIpInvalid == true}">
                      <input class="form-control form-control-alternative" name="ip" type="text" id="ip" [(ngModel)]="newNode.ip" (input)="checkIp($event.target.value)" [placeholder]="isIPInvalid ? 'IP không được để trống' : 'IP'">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Tên node <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div [ngClass]="{'has-danger': isNameInvalid == true}">
                      <input  name="name" type="text" id="name" class="form-control form-control-alternative" [(ngModel)]="newNode.name" disabled [placeholder]="newNode.name">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Các cảm biến <p style="display:inline-flex !important; color: red ">*</p></label>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">Nhiệt độ</label>
                                </div>
                            </div>     
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-toggle" for="temperature_status">
                                        <input type="checkbox" checked id="temperature_status" [(ngModel)]="newNode.temperature_status" name="temperature_status">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                            </div>   
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">Độ ẩm</label>
                                </div>
                            </div>     
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-toggle" for="humidity_status">
                                        <input type="checkbox" checked id="humidity_status" [(ngModel)]="newNode.humidity_status" name="humidity_status">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                            </div>   
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">Khí CO</label>
                                </div>
                            </div>     
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-toggle" for="co_status">
                                        <input type="checkbox" checked id="co_status" [(ngModel)]="newNode.co_status" name="co_status">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                            </div>   
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">Khí CO2</label>
                                </div>
                            </div>     
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-toggle" for="co2_status">
                                        <input type="checkbox" checked id="co2_status" [(ngModel)]="newNode.co2_status" name="co2_status">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                            </div>   
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">Bụi PM2.5</label>
                                </div>
                            </div>     
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-toggle" for="dust_status">
                                        <input type="checkbox" checked id="dust_status" [(ngModel)]="newNode.dust_status" name="dust_status">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                            </div>   
                            <div class="col">
                                
                            </div>     
                            <div class="col">
                                
                            </div>   
                        </div>
                        
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr style="margin: 0px;">
        <div class="col-lg-4 card-body" style="padding-top:15px;">
            <button type="button" class="btn btn-success" style="margin-left:24px;" (click)="createNode()" >Tạo mới</button>
            <button type="button" class="btn btn-danger" (click)="redirect()" >Thoát</button>
        </div>         
      </div>
    </div>
  </div>
</div>
