<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(87deg, #13547a 0, #80d0c7 100%) !important;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-2 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6">
          <div class="form-group">
            <label class="form-control-label-white" style="color: white;" for="province"
              >Thành phố</label
            >
            <select
              name="province"
              id="province"
              class="form-control form-control-alternative"
              [(ngModel)]="searchProvince"
              (ngModelChange)="getProvinceCodeAndProvinceId($event)"
            >
              <option value="" disabled selected hidden>Chọn thành phố cần tìm kiếm</option>
              <option *ngFor="let province of provinceList" [ngValue]="province">{{ province.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="form-group">
            <label class="form-control-label-white" style="color: white;"
              >Quận</label
            >
            <select
              name="status"
              id="status"
              class="form-control form-control-alternative"
              [(ngModel)]="searchDistrict"
              (ngModelChange)="getDistrictId($event)"
              [disabled]="!checkCityCode"
            >
              <option value="" disabled selected hidden
                >Chọn quận cần tìm kiếm</option
              >
              <option *ngFor="let district of districtList"  [ngValue]="district">
                <span *ngIf="district.parent_code==provinceCode">{{ district.name }}</span>
              </option>
            </select>
            <!-- <div *ngIf="isLocationInvalid" class="form-group has-danger">
              <select  name="location" id="location" id="inputLocation" class="form-control is-invalid" [(ngModel)]="newNode.location" (ngModelChange)="checkLocation($event)">
                <option value="" disabled selected hidden class="is-invalid">Khu vực không được để trống</option>
                <option *ngFor="let location of location">{{ location.name }}</option>
              </select> 
            </div>         -->
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <button class="btn btn-icon btn-2 btn-warning" type="button" style="margin-top: 33px" (click)="search()">
            <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true" style="color: black;"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách khu vực</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col">STT</th>
                <th scope="col" *ngFor="let field of fields">{{ field.label }}</th>
                <!-- <th scope="col">Lựa chọn</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of locationList; let index = index" style="text-align: center;">
                <td>{{ index + 1 }}</td>
                <td *ngFor="let field of fields">
                  <span *ngIf="field.name=='district' || field.name=='province'">{{ location[field.name].name }}</span>
                  <span *ngIf="field.name!=='district' && field.name!=='province'">{{ location[field.name] }}</span>
                </td> 
                <!-- <td>
                  <button
                    class="btn btn-icon btn-sm btn-info"
                    type="button"
                    placement="top"
                    ngbTooltip="Sửa"
                    data-toggle="modal"
                    data-target="#editModal"
                    (click)="currentLocation = location"
                  >
                    <span class="btn-inner--icon"
                      ><i class="ni ni-single-copy-04"></i
                    ></span>
                  </button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <ngx-spinner></ngx-spinner>
        <app-pagination [(totalPage)]='totalPage' [(showPages)]='showPages' (pageEmit)='getLocationList(filter, $event, sizePage)'></app-pagination>
      </div>
    </div>
  </div>      

<!-- Modal Sửa -->
<!-- <div
class="modal fade bd-example-modal-lg"
id="editModal"
tabindex="-1"
role="dialog"
aria-hidden="true"
> -->
<!-- <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Cập nhật thông tin khu vực</h3>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="w-100 d-inline-block">
        <div *ngFor="let field of modal" class="w-50 float-left prl-15">
          <div class="form-group">
            <label class="form-control-label" [for]="field.fin">{{
              field.label
            }}</label>
            <div class="form-group">
              <input
                *ngIf="is_input(field.type)"
                value="{{ currentNode[field.key] }}"
                [name]="field.fin"
                [id]="field.fin"
                type="text"
                class="form-control"
                [readonly]="field.readonly"
              />
              <select
                *ngIf="is_select(field.type)"
                [(ngModel)]="currentNode[field.key]"
                [name]="field.fin"
                [id]="field.fin"
                class="form-control"
              >
                <option value="" disabled selected hidden>{{
                  currentNode[field.key]
                }}</option>
                <option
                  *ngFor="let item of data[field.key]"
                  [ngValue]="item.value"
                  >{{ item.name }}</option
                >
              </select>
              <div *ngIf="is_switch(field.type)">
                <div
                  *ngFor="let item of data[field.key]"
                  class="w-50 float-left prl-15"
                >
                  <div
                    class="form-group d-flex justify-content-between align-items-center"
                  >
                    <label class="form-control-label">{{
                      item.label
                    }}</label>
                    <label
                      class="form-control-label custom-toggle"
                      [for]="item.fin"
                    >
                      <input
                        type="checkbox"
                        checked
                        [id]="item.fin"
                        [name]="item.fin"
                        value="{{ currentNode[item.key] }}"
                        [(ngModel)]="currentNode[item.key]"
                      />
                      <span
                        class="custom-toggle-slider rounded-circle"
                      ></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Hủy
        </button>
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="updateNodeInfo(currentNode)"
        >
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

   -->