<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(87deg, #13547a 0, #80d0c7 100%) !important;">
  
</div>
<div class="container-fluid mt--7">
  <div class="">
    
    <div class="">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Tạo mới khu vực</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Thông tin khu vực</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="province">Thành phố <p style="display:inline-flex !important; color: red ">*</p></label>
                    <select *ngIf="!isProvinceInvalid" name="province" id="province" class="form-control form-control-alternative" [(ngModel)]="chosenProvince" (ngModelChange)="checkProvince($event)">
                      <option value="" disabled selected hidden>Chọn thành phố</option>
                      <option *ngFor="let province of provinceList" [ngValue]="province">{{ province.name }}</option>
                    </select>     
                    <div *ngIf="isProvinceInvalid" class="form-group has-danger">
                      <select name="province" id="province" id="province" class="form-control is-invalid" [(ngModel)]="chosenProvince" (ngModelChange)="checkProvince($event)">
                        <option value="" disabled selected hidden class="is-invalid">Thành phố không được để trống</option>
                        <option *ngFor="let province of provinceList" [ngValue]="province">{{ province.name }}</option>
                      </select> 
                    </div>        
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="district">Quận, huyện <p style="display:inline-flex !important; color: red ">*</p></label>
                    <select *ngIf="!isDistrictInvalid" [disabled]="!checkSelectedProvince" name="district" id="district" class="form-control form-control-alternative" [(ngModel)]="chosenDistrict" (ngModelChange)="checkDistrict($event)">
                      <option value="" disabled selected hidden>Chọn quận, huyện</option>
                      <option *ngFor="let district of districtList" [ngValue]="district"><span *ngIf="provinceCode==district.parent_code">{{ district.name }}</span></option>
                    </select>     
                    <div *ngIf="isDistrictInvalid" class="form-group has-danger">
                      <select  name="district" id="district" id="district" class="form-control is-invalid" [(ngModel)]="chosenDistrict" (ngModelChange)="checkDistrict($event)">
                        <option value="" disabled selected hidden class="is-invalid">Quận không được để trống</option>
                        <option *ngFor="let district of districtList" [ngValue]="district"><span *ngIf="provinceCode==district.parent_code">{{ district.name }}</span></option>
                      </select> 
                    </div>        
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="sub_district">Phường, xã <p style="display:inline-flex !important; color: red ">*</p></label>
                    <select *ngIf="!isSubDistrictInvalid" [disabled]="!checkSelectedDistrict" name="sub_district" id="sub_district" class="form-control form-control-alternative"  [(ngModel)]="chosenSubDistrict" (ngModelChange)="checkSubDistrict($event)">
                      <option value="" disabled selected hidden>Chọn phường</option>
                      <option *ngFor="let sub_district of sub_districtList" [ngValue]="sub_district"><span *ngIf="districtCode==sub_district.parent_code">{{ sub_district.name }}</span></option>
                    </select>     
                    <div *ngIf="isSubDistrictInvalid" class="form-group has-danger">
                      <select  name="location" id="location" id="inputLocation" class="form-control is-invalid" [(ngModel)]="chosenSubDistrict" (ngModelChange)="checkSubDistrict($event)">
                        <option value="" disabled selected hidden class="is-invalid">Phường không được để trống</option>
                        <option *ngFor="let sub_district of sub_districtList">{{ sub_district }}</option>
                      </select> 
                    </div>        
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="detail">Địa chỉ <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div [ngClass]="{'has-danger': isDetailLocationInvalid == true}">
                      <input  name="detail" type="text" id="detail" class="form-control form-control-alternative" [(ngModel)]="newLocation.detail_location" (input)="checkDetail($event.target.value)" [placeholder]="isDetailLocationInvalid ? 'Địa chỉ cụ thể không được để trống' : 'Địa chỉ cụ thể'">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="latitude">Vĩ độ <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div [ngClass]="{'has-danger': isLatitudeInvalid == true}">
                      <input class="form-control form-control-alternative" name="latitude" type="number" id="latitude" [(ngModel)]="newLocation.latitude" (input)="checkLatitude($event.target.value)" [placeholder]="isLatitudeInvalid ? 'Vĩ độ không được để trống' : 'Vĩ độ'">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="longitude">Kinh độ <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div [ngClass]="{'has-danger': isLongitudeInvalid == true}">
                      <input 
                        name="longitude" type="number" id="longitude" class="form-control form-control-alternative"
                         [(ngModel)]="newLocation.longitude" (input)="checkLongitude($event.target.value)" [placeholder]="isLongitudeInvalid ? 'Kinh độ không được để trống' : 'Kinh độ'">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr style="margin: 0px;">
        <div class="col-lg-4 card-body" style="padding-top:15px;">
            <button type="button" class="btn btn-success" style="margin-left:24px;" (click)="createLocation()" >Lưu</button>
            <button type="button" class="btn btn-danger" (click)="redirect()">Thoát</button>
        </div>         
      </div>
    </div>
  </div>
</div>
