<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  
</div>
<div class="container-fluid mt--7">
  <div class="">
    
    <div class="">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Tạo mới khu vực</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Thông tin khu vực</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="tenDangNhap">Tên khu vực <p style="display:inline-flex !important; color: red ">*</p></label>
                    <div class="form-group">
                      <div class="form-group" [ngClass]="{'has-danger': isUserNameInvalid == false}">
                        <input name="tenDangNhap" type="text" id="tenTaiKhoan" class="form-control"
                         [placeholder]="username">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr style="margin: 0px;">
        <div class="col-lg-4 card-body" style="padding-top:15px;">
            <button type="button" class="btn btn-success" style="margin-left:24px;"  >Lưu</button>
            <button type="button" class="btn btn-danger" >Thoát</button>
        </div>         
      </div>
    </div>
  </div>
</div>
