<div class="header bg-gradient-default pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chờ phê duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Được phê duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Không được phê duyệt</a>
            </li>
          </ul>
          <!-- <div class="tab-content" id="myTabContent">
            <h3 class="mb-0 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Danh sách người dùng chờ phê duyệt</h3>
            <div class="mb-0 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Danh sách người dùng được phê duyệt</div>
            <div class="mb-0 tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Danh sách người dùng không được phê duyệt</div>
          </div> -->
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="mb-0 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="mb-0" style="padding: 10px 24px 20px 24px;">Danh sách người dùng chờ phê duyệt</h3>
            <div class="table-responsive tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Username
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle-split" style="padding: 2px;" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <span class="btn-inner--icon"><i class="fa fa-filter" style="font-size: 10px;"></i></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left px-3" style="width: 300px">
                          <form>
                            <div class="form-group" style="margin-bottom: 0!important">
                              <div class="input-group">
                                <input class="form-control" placeholder="Tìm kiếm username" type="text" style="height: 30px" name="username">
                              </div>
                            </div>
                            <div class="text-right mt-2">
                              <button type="button" class="btn btn-primary btn-sm" data-dismiss="dropdown">Lọc</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </th>
                    <th scope="col">Họ và tên
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle-split" style="padding: 2px;" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <span class="btn-inner--icon"><i class="fa fa-filter" style="font-size: 10px"></i></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left px-3" style="width: 300px">
                          <form>
                            <div class="form-group" style="margin-bottom: 0!important">
                              <div class="input-group">
                                <input class="form-control" placeholder="Tìm kiếm username" type="text" style="height: 30px" name="username">
                              </div>
                            </div>
                            <div class="text-right mt-2">
                              <button type="button" class="btn btn-primary btn-sm" data-dismiss="dropdown">Lọc</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </th>
                    <th scope="col">Role</th>
                    <th scope="col">Lựa chọn</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>1</td>
                    <td>Admin</td>
                    <td>lan</td>
                    <td>admin</td>
                    <td>
                      <button class="btn btn-icon btn-sm btn-info" type="button" placement="top" ngbTooltip="Sửa"
                        data-toggle="modal" data-target="#editModal" >Phê duyệt
                      </button>
                      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                      <button class="btn btn-icon btn-sm btn-danger" style="margin-right: 8px;"
                      type="button" placement="top" ngbTooltip="Xóa" data-toggle="modal"
                      data-target="#deleteModal">Từ chối
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="mb-0 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="mb-0" style="padding: 10px 24px 20px 24px;">Danh sách người dùng được phê duyệt</h3>
          </div>
          <div class="mb-0 tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h3 class="mb-0" style="padding: 10px 24px 20px 24px;">Danh sách người dùng không được phê duyệt</h3>
          </div>
        </div>
      </div>
    </div>
  </div>      

<!-- Modal Sửa -->
<div  class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Bạn có chắc là muốn phê duyệt tài khoản này không?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="updateUserInfo(currentUser)">Đồng ý</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Xóa -->
<div  class="modal fade bd-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Bạn có chắc là muốn từ chối phê duyệt tài khoản này không?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="updateUserInfo(currentUser)">Đồng ý</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  