<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(87deg, #13547a 0, #80d0c7 100%) !important;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-5">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label
                  class="form-control-label-white"
                  style="color: white;"
                  for="inputLocation"
                  >Username</label
                >
                <div class="input-group mb-4">
                  <input
                    class="form-control"
                    placeholder="Nhập username cần tìm kiếm"
                    type="text"
                    [(ngModel)]="searchUsername"
                  />
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label
                  class="form-control-label-white"
                  style="color: white;"
                  for="inputLocation"
                  >Họ và tên</label
                >
                <div class="input-group mb-4">
                  <input
                    class="form-control"
                    placeholder="Nhập họ và tên cần tìm kiếm"
                    type="text"
                    [(ngModel)]="searchName"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label-white" style="color: white;"
                  >Vai trò</label
                >
                <select
                  name="role"
                  id="role"
                  class="form-control form-control-alternative"
                  [(ngModel)]="searchRole" 
                >
                  <option value="" disabled selected hidden
                    >Chọn vai trò cần tìm kiếm</option
                  >
                  <option *ngFor="let role of roleList" name="role" [ngValue]="role" id="role">{{ role.name }}</option>
                  <option value="all">Tất cả</option>
                </select>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label-white" style="color: white;"
                  >Trạng thái</label
                >
                <select
                  name="status"
                  id="status"
                  class="form-control form-control-alternative"
                  [(ngModel)]="searchStatus" 
                >
                  <option value="" disabled selected hidden
                    >Chọn trạng thái cần tìm kiếm</option
                  >
                  <option *ngFor="let status of status" [ngValue]="status.value">{{ status.name }}</option>
                  <option value="all">Tất cả</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2">
          <label class="form-control-label-white" style="color: white;"
                  ></label
                >
          <div class="row" style="margin-top: 8px;">
            <button type="button" class="btn btn-primary" style="background-color: #FDC667; border-color: #FEA200;" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary" style="background-color: #0165B9; border-color: #0165B9;" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách người dùng</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col">STT</th>
                <th scope="col" *ngFor="let field of fields;">{{ field.label }}</th>
                <th scope="col" *ngIf="isHavingEditUserPermission">Lựa chọn</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; let index=index" style="text-align: center;">
                <td>{{ (currentPage - 1) * sizePage + index + 1 }}</td>
                <td *ngFor="let key_data of key_data">
                  <span *ngIf="key_data.key=='role'">{{ user[key_data.key].name }}</span>
                  <span *ngIf="is_string(key_data.type) && key_data.key!='role'">{{ user[key_data.key] }}</span>
                  <div *ngIf="is_boolean(key_data.type)">
                    <span
                      [ngClass]="[
                        'badge',
                        'badge-pill',
                        user[key_data.key] ? 'badge-success' : 'badge-danger'
                      ]"
                      >{{ status_vn(user[key_data.key]) }}</span
                    >
                  </div>
                </td>
                <td *ngIf="isHavingEditUserPermission">
                  <button class="btn btn-icon btn-sm btn-info" type="button" placement="top" ngbTooltip="Sửa" data-toggle="modal" data-target="#editModal" (click)="currentUser=user" (click)="nameRole = currentUser.role.name">
                    <span class="btn-inner--icon"><i class="ni ni-single-copy-04"></i></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngx-spinner></ngx-spinner>
        <app-pagination [totalPages]='totalItems' (pageEmit)='goToPage($event)'></app-pagination>
      </div>
    </div>
  </div>
  

<!-- Modal Sửa -->
<div *ngIf="is_have_data" class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cập nhật thông tin người dùng</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="w-100 d-inline-block">
          <div *ngFor="let modal of modals" class="w-50 float-left prl-15 col-md-6">
            <div class="form-group">
              <label class="form-control-label" [for]="modal.fin">{{ modal.label }}</label>
              <div class="form-group">
                <input
                    *ngIf="is_input(modal.type)"
                    value="{{ currentUser[modal.key] }}"
                    [name]="modal.fin"
                    [id]="modal.fin"
                    type="text"
                    class="form-control form-control-alternative"
                    [readonly]="modal.readonly"
                />
                <select
                  *ngIf="is_select(modal.type) && modal.key!='role'"
                  [(ngModel)]="currentUser[modal.key]"
                  [name]="modal.fin"
                  [id]="modal.fin"
                  class="form-control form-control-alternative"
                >
                  <option value="" disabled selected hidden>{{ status_vn(currentUser[modal.key]) }}</option>
                  <option *ngFor="let data of data[modal.key]" [ngValue]="data.value" >{{ data.name }}</option>
                </select>
                <select
                  *ngIf="is_select(modal.type) && modal.key=='role'"
                  [(ngModel)]="currentUser[modal.key]._id"
                  [name]="modal.fin"
                  [id]="modal.fin"
                  class="form-control"
                >
                  <!-- <option value="" disabled selected hidden>{{ log(currentUser, modal) }}</option> -->
                  <option *ngFor="let data of roleList" [value]="data._id" >{{ data.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="redirect()">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #004D90; border-color:#013E7A"
            (click)="updateUserInfo(currentUser)">Lưu</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  