<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark" style="background: linear-gradient(87deg, #13547a 0, #80d0c7 100%) !important;">
    <div class="container">
        <a class="navbar-brand" href="/home">HỆ THỐNG THEO DÕI CHẤT LƯỢNG KHÔNG KHÍ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="../../assets/img/brand/tlu.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="/home">
                        <span class="nav-link-inner--text">Trang chủ</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <span class="nav-link-inner--text">Giới thiệu</span>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="/user">
                        <span class="nav-link-inner--text">Quản lý</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <span class="nav-link-inner--text">Đăng xuất</span>
                    </a>
                </li> -->
            </ul>
            
        </div>
    </div>
</nav>

<div class="card-body">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="form-group">
                <label class="form-control-label" for="inputAddress">Chọn địa điểm:</label>
                <div *ngIf="sensor_data=='' || sensor_data==null">Không có dữ liệu</div>
                <select *ngIf="sensor_data!='' && sensor_data!=null" [value]="current_sensor_data.node_id" name="addressNode" id="inputAddress" class="form-control" (change)="selectedNode($event.target.value)">
                    <!-- <option value="" disabled selected hidden>{{ current_sensor_data.name }} - {{ current_sensor_data.location }}</option> -->
                    <option *ngFor="let data of sensor_data" [value]="data.node_id">{{ data.name }} - {{ data.location }}</option>
                </select>     
            </div>
            <h3 *ngIf="sensor_data!='' && sensor_data!=null" class="mb-0">Chỉ số chất lượng không khí lúc {{ current_sensor_data.datetime | date:'HH:mm' }} ngày {{ current_sensor_data.datetime | date:'dd/MM/yyyy' }}</h3>
            <br>
            <!-- <div *ngIf="!sensor_data.length">Không có dữ liệu</div> -->
            <div *ngIf="sensor_data!='' && sensor_data!=null" class="row showed-main-info" style="padding: 20px;" [style.background-color]="current_aqi_info.color">
                <div class="col-3">
                    <h2 style="text-align: center; font-size: 25px; color: black;">AQI: {{ current_sensor_data.aqi }}</h2>
                    <div style="text-align: center;">
                        <i class="fa fa-tint fa-2x" aria-hidden="true" style="color: black;"></i>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-weight: bold; color: black;">Độ ẩm: {{ current_sensor_data.hum }}%</span>
                    </div>
                </div>
                <div class="col-3">
                    <h2 style="text-align: center; font-size: 22px; color: black; margin-bottom: 11px;">{{ current_aqi_info.evaluate }}</h2>
                    <div style="text-align: center;">
                        <i class="fa fa-thermometer-empty fa-2x" aria-hidden="true" style="color: black;"></i>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-weight: bold; color: black;">Nhiệt độ: {{ current_sensor_data.tem }}&#8451;</span>
                    </div>
                </div>
                <div class="col-6">
                    <div style="text-align: center;">
                        <img src="{{ current_aqi_info.img }}" alt="" style="width: 60px;">
                        <p style="color: black;">{{ current_aqi_info.announcement }}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow" *ngIf="sensor_data!='' && sensor_data!=null">
                <div class="card-body">
                    <div class="chart">
                        <canvas id="co_chart" class="chart-canvas">{{ co_chart }}</canvas>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow" *ngIf="sensor_data!='' && sensor_data!=null">
                <div class="card-body">
                    <div class="chart">
                        <canvas id="co2_chart" class="chart-canvas" height="200">{{ co2_chart }}</canvas>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow" *ngIf="sensor_data!='' && sensor_data!=null">
                <div class="card-body">
                    <div class="chart">
                        <canvas id="pm25_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div style="margin-bottom: 420px;">
                <app-map></app-map>
            </div>
            <hr>
            <div class="row" *ngIf="sensor_data!='' && sensor_data!=null">
                <div class="col" *ngFor="let data of three_day_aqi_data; let index = index">
                    <div class="card card-stats mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                <h4 class="card-title text-uppercase mb-0" style="text-align: center; color: black; padding-bottom: 10px;">{{ data.datetime | date:'dd/MM/yyyy' }}</h4>
                                <hr [style.border]="three_day_aqi_info[index].border" style="margin-bottom: 15px; margin-top: 5px;">
                                <div style="text-align: center; padding-bottom: 10px;">
                                    <img src="{{ three_day_aqi_info[index].img }}" alt="" style="width: 50px;">
                                </div>
                                <div style="text-align: center;">
                                    <p class="h4 font-weight-bold mb-0">AQI: {{ data.aqi }}</p>
                                    <p class="h4 font-weight-bold mb-0">{{ three_day_aqi_info[index].evaluate }}</p>
                                </div>
                                <div class="row">
                                    <div class="col" style="text-align: center;">
                                        <i class="fa fa-thermometer-empty fa-2x" aria-hidden="true" style="color: black;"> </i>
                                        <span style="font-weight: bold; color: black;">{{ data.tem }}&#8451;</span>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <i class="fa fa-tint fa-2x" aria-hidden="true" style="color: black;"> </i>
                                        <span style="font-weight: bold; color: black;">{{ data.hum }}%</span>
                                    </div>
                                </div>
                                </div>
                                <!-- <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                                </div> -->
                            </div>
                            <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                        <h3 class="mb-0">Bảng quy đổi giá trị AQI</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                  <!-- Projects table -->
                    <table class="table align-items-center table-flush out">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Giá trị AQI</th>
                                <th scope="col">Đánh giá</th>
                                <th scope="col" style="text-align: center">Ảnh hưởng sức khỏe</th>
                                <th scope="col">Màu sắc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of aqi_info">
                                <th scope="col">{{ info.value }}</th>
                                <th scope="col">{{ info.evaluate }}</th>
                                <th scope="col">{{ info.comment }}</th>
                                <th scope="col">
                                    <label *ngIf="info.v_color === 'Xanh'" style="padding: 10px 9px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                    <label *ngIf="info.v_color === 'Vàng'" style="padding: 10px 9px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                    <label *ngIf="info.v_color === 'Cam'" style="padding: 10px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                    <label *ngIf="info.v_color === 'Đỏ'" style="padding: 10px 15px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                    <label *ngIf="info.v_color === 'Tím'" style="padding: 10px 12px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                    <label *ngIf="info.v_color === 'Nâu'" style="padding: 10px 11px; color: white;" [style.background-color]="info.color">{{ info.v_color }}</label>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                        <h3 class="mb-0">Thông tin thêm</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="row">
                            <img src="/assets/info/aqi.png" alt="" width="40px" height="40px">
                            <a href="https://vi.wikipedia.org/wiki/Ch%E1%BB%89_s%E1%BB%91_ch%E1%BA%A5t_l%C6%B0%E1%BB%A3ng_kh%C3%B4ng_kh%C3%AD#:~:text=Ch%E1%BB%89%20s%E1%BB%91%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng%20kh%C3%B4ng%20kh%C3%AD%20(AQI)%20l%C3%A0%20th%C6%B0%E1%BB%9Bc%20%C4%91o,t%C4%83ng%20l%C3%AAn%20khi%20AQI%20t%C4%83ng." style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">AQI là gì?</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img src="/assets/info/temperature.jpg" alt="" width="40px" height="40px">
                            <a href="https://vi.wikipedia.org/wiki/Nhi%E1%BB%87t_%C4%91%E1%BB%99" style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">Nhiệt độ là gì?</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <img src="/assets/info/humidity.png" alt="" width="40px" height="40px">
                            <a href="https://vi.wikipedia.org/wiki/%C4%90%E1%BB%99_%E1%BA%A9m" style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">Độ ẩm là gì?</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="row">
                            <img src="/assets/info/co.png" alt="" width="40px" height="40px">
                            <a href="https://vi.wikipedia.org/wiki/Cacbon_monoxit" style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">CO là gì?</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img src="/assets/info/pm25.png" alt="" width="40px" height="40px">
                            <a href="https://nosewash.rohto.com.vn/cam-nang-mui-xoang/tin-tuc-xa-hoi/bui-min-pm2.5-va-pm10-sat-thu-vo-hinh-cua-loai-nguoi-1.html" style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">Bụi PM2.5 là gì?</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <img src="/assets/info/co2.jpg" alt="" width="40px" height="40px">
                            <a href="https://vi.wikipedia.org/wiki/Cacbon_%C4%91i%C3%B4x%C3%ADt#:~:text=Cacbon%20%C4%91i%C3%B4x%C3%ADt%20hay%20%C4%91i%C3%B4x%C3%ADt%20cacbon,v%C3%A0%20hai%20nguy%C3%AAn%20t%E1%BB%AD%20%C3%B4xi." style="font-size: 15px; color: grey; font-weight: bold; margin-left: 15px; margin-top: 10px;">CO<sub>2</sub> là gì?</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1>Tra cứu chỉ số AQI:</h1>
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="form-group row">
                        <div class="col-5">
                            <label for="example-date-input" class=" col-form-label">Chọn ngày</label>
                            <input class="form-control" type="date" value="30-07-2020" id="example-date-input" [(ngModel)]="searchingDay" (change)="searchByDay($event.target.value)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2" style="margin-top: 55px;">
            <div class="d-flex justify-content-end">
                <button *ngIf="searchList.length!=0" class="btn btn-icon btn-2 btn-dark" type="button" (click)="setLineTypeOfChart()">
                    <span class="btn-inner--icon"><i class="fas fa-chart-line"></i></span>
                </button>
                <button *ngIf="searchList.length!=0" class="btn btn-icon btn-2 btn-dark" type="button" (click)="setBarTypeOfChart()">
                    <span class="btn-inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="table-responsive">
                <!-- Projects table -->
                <h4 *ngIf="searchList.length==0" class="mb-0" style="padding: 10px 24px 20px 24px;" >Không có dữ liệu</h4>
                <table *ngIf="searchList.length!=0" class="table align-items-center table-dark table-flush out">
                    <thead class="thead-dark">
                        <tr style="text-align: center;">
                            <th scope="col">STT</th>
                            <th scope="col">Tên node</th>
                            <th scope="col">Chỉ số</th>
                            <th scope="col">Đánh giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of searchList; let index = index" style="text-align: center;">
                            <th scope="col">{{ index + 1 }}</th>
                            <th scope="col">{{ data.name }}</th>
                            <th scope="col">{{ data.aqi }}</th>
                            <th scope="col">{{ evaluate(data.aqi) }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6" >
            <div class="card shadow" [hidden]="!lineTypeOfChart">
                <div class="card-body">
                    <div class="chart">
                        <canvas id="aqi_line_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="card shadow" [hidden]="!barTypeOfChart">
                <div class="card-body">
                    <div class="chart">
                        <canvas id="aqi_bar_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>