<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách vai trò</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">STT</th>
                <th scope="col" *ngFor="let field of fields">
                  {{ field.label }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles; let index = index">
                <td>{{ index + 1 }}</td>
                <td *ngFor="let item of key_data">
                  <span *ngIf="is_string(item.type)">{{ role[item.key] }}</span>
                  <div *ngIf="is_array(item.type)">
                    <span
                      *ngFor="let val of getDatas(role, item)"
                      [ngClass]="[
                        'badge',
                        'badge-pill',
                        item.color
                      ]"
                      style="margin-right: 10px;"
                      >{{ val }}</span
                    >
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-icon btn-sm btn-info"
                    type="button"
                    placement="top"
                    ngbTooltip="Sửa"
                    data-toggle="modal"
                    data-target="#editModal"
                    (click)="currentRole = role"
                  >
                    <span class="btn-inner--icon"
                      ><i class="ni ni-single-copy-04"></i
                    ></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Sửa -->
  <div
    class="modal fade bd-example-modal-lg"
    id="editModal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Cập nhật thông tin vai trò</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="w-100 d-inline-block">
            <div *ngFor="let field of modal" class="w-50 float-left prl-15">
              <div class="form-group">
                <label class="form-control-label" [for]="field.fin">{{
                  field.label
                }}</label>
                <div class="form-group">
                  <input
                    *ngIf="is_input(field.type)"
                    value="{{ currentNode[field.key] }}"
                    [name]="field.fin"
                    [id]="field.fin"
                    type="text"
                    class="form-control"
                    [readonly]="field.readonly"
                  />
                  <select
                    *ngIf="is_select(field.type)"
                    [(ngModel)]="currentNode[field.key]"
                    [name]="field.fin"
                    [id]="field.fin"
                    class="form-control"
                  >
                    <option value="" disabled selected hidden>{{
                      currentNode[field.key]
                    }}</option>
                    <option
                      *ngFor="let item of data[field.key]"
                      [ngValue]="item.value"
                      >{{ item.name }}</option
                    >
                  </select>
                  <div *ngIf="is_switch(field.type)">
                    <div
                      *ngFor="let item of data[field.key]"
                      class="w-50 float-left prl-15"
                    >
                      <div
                        class="form-group d-flex justify-content-between align-items-center"
                      >
                        <label class="form-control-label">{{
                          item.label
                        }}</label>
                        <label
                          class="form-control-label custom-toggle"
                          [for]="item.fin"
                        >
                          <input
                            type="checkbox"
                            checked
                            [id]="item.fin"
                            [name]="item.fin"
                            value="{{ currentNode[item.key] }}"
                            [(ngModel)]="currentNode[item.key]"
                          />
                          <span
                            class="custom-toggle-slider rounded-circle"
                          ></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              (click)="updateNodeInfo(currentNode)"
            >
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
